<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- BOOTSWATCH --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css">
    {{!-- TEXT SECURITY CSS --}}
    <link rel="stylesheet" href="https://github.com/noppa/text-security/blob/master/dist/text-security.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>SMS Node</title>
</head>

<body>
    {{>navigation}}
    <div class="container p-4">{{{body}}}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.full.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</body>

</html>